/* Full Page */
.resetpassword-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#143b67, #23c7b5, #143b67);
    /* background-color: rgb(0, 0, 75); */
    font-family: Arial, Helvetica, sans-serif;
}

/* Card */
.resetpassword-card {
    width: 460px;
    height: 600px;
    padding: 35px;
    background: rgba(255,255,255,0.4);
    /* border: 2px solid #2b8cff; */
    border-radius: 8px;
    backdrop-filter: blur(6px);
    box-sizing: border-box;
}

/* Heading */
.resetpassword-card h1 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 32px;
    font-weight: bold;
    color: black;
}

/* Labels */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}

.form-group label {
    font-size: 14px;
    margin-bottom: 8px;
    color: black;
    margin-right: 239px;
    text-align: left;
}

/* Inputs */
.form-group input {
    height: 42px;
    border: none;
    border-radius: 6px;
    padding: 0 12px;
    font-size: 15px;
    outline: none;
    color: black;
    background: #ececec;
}

/* Button */
button {
    width: 170px;
    height: 42px;
    display: block;
    margin: 60px auto 0;
    border: none;
    border-radius: 25px;
    background: #11b02d;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #11b0ab;
}